/* Calendar container background and text */
.calendar-container {
  background: #000000; /* Dark background */
  color: white; /* White text */
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Hide the previous and next navigation buttons */
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important; /* Hide the navigation buttons */
}

/* Navigation buttons (prev/next) */
.react-calendar__navigation button {
  color: white !important; /* White text for the buttons */
  background: transparent; /* No background color */
  border: none; /* Remove button border */
  font-size: 1.5rem; /* Larger button text size */
  display: flex; /* Use flexbox to align the icon */
  justify-content: center; /* Center align the icon */
  align-items: center; /* Center align the icon */
}

/* Navigation button hover state */
.react-calendar__navigation button:hover {
  color: white !important; /* Highlight color on hover */
  background: black !important;
}

/* Highlight days with events */
.react-calendar__tile.event-day {
  background: rgb(21, 177, 0);
  color: rgb(255, 255, 255);
  border-radius: 20%;
}

/* Highlight selected day */
.react-calendar__tile--active {
  background: rgb(37, 150, 255); /* Light blue background */
  color: white !important; /* White text for the selected day */
  border-radius: 20%; /* Rounded corners */
}

/* Highlight current day */
.react-calendar__tile--now {
  background: rgb(255, 165, 0) !important; /* Orange background for today */
  color: white(0, 123, 255) !important; /* Black text for today's date */
  border-radius: 20%; /* Rounded corners */
}

/* Default tile styles */
.react-calendar__tile {
  background: #000000; /* Dark background for all days */
  color: white; /* White text for all days */
}

/* General calendar styles */
.react-calendar {
  background: #000000;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  border: none;
}

.react-calendar__year-view__months__month.event-day {
  background: black;
}

.react-calendar__tile--now.react-calendar__year-view__months__month {
  background: #000000 !important;
}

.event-list {
  padding-top: 0px;
}

.car-container.bottom {
  width: 80%;
  max-width: 400px;
  margin: 1rem auto 0 auto;
}

.car-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 1;
}

.hero-car {
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: 100%;
}
